body{
            background-color: white;
            padding: 0px;
            margin: 0px;
            font-family: sans-serif;
            }
        body {
            animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .navbar{ 
                height:120px;
                width: 100%;
                margin-top: 0px;
                display: flex;
                justify-content: space-between;
                font-family: monospace;
                font-size: 15px;
            }
            #right-menu{
                width: auto;
                height: 160%;
                float:left;
            }
            .right-menu-word{
                width: 180px;
                height: 70%;
                float: right;
                margin-top: 45px;
                padding-left: 10px;
                padding-top: 10px;
            }
            #menu-line{
                width:50px;
                height:5px;
                background-color:rgb(87,85,86);
                box-sizing:border-box;
                float: left;
                margin-top: 65px;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                line-height: 25px;
            }
            li a{
                color: rgb(87,85,86);
            }
            .center-Logo{
                width: 110px;
                height: auto;
            }
            .logo{
                z-index: 2;
                position: absolute;
                padding-top: 15px;
                padding-left: 19px;
                margin-left: -100px;
            }
            .logo-back-square{
                width: 110px;
                height: 110px;
                background-color: rgb(87,86,85);
                box-sizing: border-box;
                position: absolute;
                z-index: 1; 
                margin-left: -100px;
            }
            #left-menu{
                width: 190px;
                float: right;
                padding-top: 55px;
                margin-right: 50px;
                color: rgb(87,85,86);
            }
            a{
                color: rgb(87,85,86);
            }
.appear2 {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.appear2.inview2 {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear2.inview2:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear2.inview2:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear2.inview2:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear2.inview2:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
#container-firstpage-mainview{
                width: 100%;
                height: auto;
    overflow: hidden;
            }
.section-one{
    width: 100%;
    height: auto;
}
.details-section-one{
    display: flex;
    flex-direction: row;
    padding: 150px 0;
    justify-content: space-between;
}
/*---side picture slide---*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
.mySlides img {vertical-align: middle;
        width: 100%;
        height: auto;
        object-fit: cover;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
    width: 40%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -200px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
        .mySlides fade img{
            width: 400px;
            height: auto;
            object-fit: cover;
        }

/*---side picture slide end---*/
.Tittle{
    width: 30%;
    margin-left: 100px;
    font-size: 70px;
    color: rgb(87,85,86);
    line-height: 85px;
}
.main-picture{
    width: 40%; 
}
span{
    position: relative;
    display: block;
    width: 450px;
    height: 450px;
}
.circle-square img{
    width: 450px;
    height: 450px;
    margin: -120px 0;
}
#main-pic-square img{
    width: 650px;
    height: 450px;
    margin-left: -150px;
    margin-top: -250px;
    position: relative;
}

/*---section two---*/
.section-two{
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding-bottom: 150px;
}
.inside-infrom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.left-side-inform{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}
.About{
    font-size: 55px;
    color: rgb(87,85,86);
    margin-left: 50px; 
}
#circle-square-two img{
    width: 90%;
    z-index:2;
    margin: -200px 0 0 -380px;
}
#left-side-pic-two img{
    width: 100%;
    z-index: 5;
    margin-top: -35%;
}
.right-side-inform{
    width: 40%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 350px;
}
#big-tittle{
    text-align: center;
    width: 80%;
    font-size: 38px;
}
#small-tittle{
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    text-align: center;
}
.more-button{
    margin: 20% 0 0 55%;
}
            /*---arrow movement---*/
            .more-and-arrow{
                float: right;
                margin-top: 47px;
                margin-right: 50px;
                list-style-type: none;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                transform-origin: bottom;
            }
            .more-and-arrow:hover{
                animation-name: bounce;
                animation-timing-function: ease;
            }
            @keyframes bounce {
                0%   { transform: translateX(0); }
                50%  { transform: translateX(20px); }
                100% { transform: translateX(0); }
            }
            .small-circle-more{
                float: right;
                margin-right: -200px;
            }
            /*---arrow movement end---*/
            /*---section two end---*/

/*---section three---*/
            .section-three{
                display: flex;
                flex-direction: column;
                font-family: sans-serif;
                width: 100%;
                height: auto;
            }
            #section-three-main-tittle{
                font-size: 55px;
                color: rgb(87,85,86);
                margin-right: 150px;
                text-align: right;
                margin-top: 100px;
            }
            #section-three-text{
                width: 100%;
                height: auto;
                padding: 5%;
            }
.four-pic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
}
            .picture-inform{
              margin: 2%;  
            }
            .text{
                margin-top: 10px;
                font-size: 20px;
                color:rgb(87,85,86);
                margin-top: 3px;
                font-size: 20px;
            }
            .four-pic img{
                width: 250px;
                height: 200px;
                object-fit: cover;
            }
            .more-and-arrow-two{
                float: right;
                margin-top: 30px;
                margin-right: 180px;
                list-style-type: none;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                transform-origin: bottom;
            }
            .more-and-arrow-two:hover{
                animation-name: bounce;
                animation-timing-function: ease;
            }
            @keyframes bounce {
                0%   { transform: translateX(0); }
                50%  { transform: translateX(20px); }
                100% { transform: translateX(0); }
            }
            
            .small-circle-more-two{
                float: right;
                margin-right: -195px;
                margin-top: -15px;
            }
            /*---section three end---*/
/*---section four---*/
.section-four{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: rgb(87,85,86);
    overflow: hidden;
    width: 100%;
    height:auto;
            }
.four-main-tittle{
    font-size: 55px;
    margin: 150px 150px 50px 150px;
            }
.four-inform{
    width: 100%;
    height: 80%;
}
.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls-previous {
  position: relative;
}
.gallery-controls button:focus {
  outline: none;
}
.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}
.gallery-controls-next {
  position: relative;
}

.gallery-controls-next {
  position: relative;
}
.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}
/*---button end---*/
/*--盒子內的text或inform--*/
.text-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
}
.text-inform-four{
    font-size: 30px;
    padding-bottom: 25px;
}
.line-box{
    background-color:rgb(87,85,86);
    width: 100%;
    height: 3px;
}
.text-text p{
    font-size: 16px;
    line-height: 21px;
}
.text-text p2{
    margin: 16px 0;
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 22px;
    text-align: end;
}
.pic-one-inform{
    position: relative;
    top:0px;
}
.pic-one-inform img{
    width:400px;
    height:450px;
    object-fit: cover;
}
#boxes{
    background-color: rgb(87,85,86);
    box-sizing: border-box;
    height: 99%;
    width: 400px;
    width: 100%;
    position: absolute;
    margin-top: -454px;
    opacity: 0;
}
.click{
    display: flex;
    margin-top: -300px;
    position: absolute;
    margin-left: 130px;
    opacity: 0;
}
.click img{
    width:150px;
    height: 150px;
    object-fit: fill;
}
.click p{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 60px;
    margin-left: -110px;
}
.pic-one-inform:hover #boxes{
    opacity: 0.5;
}
.pic-one-inform:hover .click{
    opacity: 1;
}
/*--盒子內的text或inform end--*/
.gallery {
  width: 100%;
padding: 0 150px;
}

.gallery-container {
    align-items: center;
    display: flex;
    width: 100%;
    height: 870px;
    max-width: 1000px;
    position: relative;
    padding-bottom: 300px;
}
.gallery-item {
  height: 150px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 400px;
  z-index: 0;
}

.gallery-item-1 {
  right: -30%;
  opacity: 0.2;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-1 {
  height: 150px;
  opacity: 0.5;
  width: 220px;
  z-index: 1;
}
.gallery-item-2 .text-text,
.gallery-item-1 .text-text{
    display: none;
}
.gallery-item-2 .pic-one-inform img,
.gallery-item-1 .pic-one-inform img{
    width: 350px;
    height: 400px;
}
.gallery-item-2 .click,
.gallery-item-1 .click{
    display: none;
}
.gallery-item-2 #boxes,
.gallery-item-1 #boxes{
    width: 350px;
    height: 400px;
    margin-top: -405px;
}
.gallery-item-2 {
  left: 20%;
  transform: translateX(-100%);
}
.gallery-item-3 {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  height: 600px;
  opacity: 1;
  left: 60%;
  transform: translateX(-50%);
  width: 400px;
  z-index: 2;
}
.gallery-item-3 .text-text{
    width: 500px;
}
.gallery-item-3 .pic-one-inform img{
    width: 500px;
    height: 550px;
}
.gallery-item-3 #boxes{
    width: 500px;
    height: 550px;
    margin-top: -553px;
}
.gallery-item-3 .click{
    margin-top: -355px;
    margin-left: 175px;
}
.gallery-item-3 .click img{
    width: 150px;
    height: 150px;
}

.portfolioSlide {display: none}
.portfolioSlide img {vertical-align: middle;
        width: 100%;
        height: auto;
        object-fit: cover;}

/* Slideshow container */
.slideshow-portfolio {
  max-width: 1000px;
  position: relative;
    width: 40%;
}

/* Next & previous buttons */
.slideshow-portfolioSlide prev, .slideshow-portfolioSlide next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -200px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-portfolioSlide next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-portfolioSlide prev:hover, .slideshow-portfolioSlide next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
/*---section four end---*/


//---Portfolio animation----//        
.dropdown {
  position: relative;
}
.dropdown a {
  text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
  display: block;
  color: rgb(87,85,86);
  padding: 0px;
}
.dropdown [data-toggle="dropdown"]:before {
  position: absolute;
  display: block;
  content: '\25BC';
  font-size: 0.7em;
  color: rgb(87,85,86);
  top: 105px;
  left: 150px;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown > .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -moz-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
}
.dropdown > .dropdown-menu li a {
  display: block;
  color: #6f6f6f;
}
.dropdown > .dropdown-menu li a:hover {
  background: #f6f6f6;
}
.dropdown > input[type="checkbox"] {
  opacity: 0;
  display: block;
  position: absolute;
  top: 100px;
  width: 120px;
  height: 25px;
  cursor: pointer;
}
.dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
  max-height: 9999px;
  display: block;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 2s ease-in-out;
  -o-transition: max-height 2s ease-in-out;
  -webkit-transition: max-height 2s ease-in-out;
  transition: max-height 2s ease-in-out;
}
.dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
} 
//---Portfolio animation----//


/*---section five---*/
.section-five{
    width:  100%;
    height: auto;
}
.contact-us-bar{
    width: 100%;
    height: 100%;
    background-color: rgb(87,85,86);
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.main-tittile-five{
    font-size: 55px;
    color: white;
    margin-left: 100px;
    margin-top: 100px;
}
.inside-inform-five{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.left-side-inform-map{
    width: 45%;
    height: 100%;
    margin-left: 100px;
}
.infom-five{
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
}
.map-in-main-page {
    display: block; 
    position: relative;
    overflow: hidden;
    height: 0;
    padding: 0;
    padding-bottom: 46%;
    margin-top: 25px;
}
.map-in-main-page iframe {
                 position: absolute;
                 height: 100%;
                 width: 100%;
                 left: 0;
                 top: 0;
              }
.righr-side-inform-send{
    width: 45%;
    height: 100%;
    margin-left: 50px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}
/*---contact form---*/
.contact-form{
    margin-top: -10px;
    margin-left: 50px;
            }
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
                 font-size: 14px;
                 color: #999;
                 top: -5px;
                 -webkit-transition: all 0.225s ease;
                 transition: all 0.225s ease;
            }
            .styled-input {
                float: left;
                width: 100%;
                margin: 8px 0;
                position: relative;
            }
            @media only screen and (max-width: 768px){
                .styled-input {
                    width:100%;
                }}
            .styled-input.wide { 
                width: 100%;
                max-width: 100%;
            }
            input,textarea {
                padding: 10px;
                border: 0;
                width: 123%;
                font-size: 15px;
                background-color:white;
                color: white;
                border-radius: 8px;
                float: left;
            }
            input:focus,
            textarea:focus { outline: 0; }
            input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}
textarea {
    min-height: 20px;
}
.input-container {
    width: 500px;
    max-width: 100%;
}
.submit-btn {
    float: right;
    border-radius: 8px;
    margin-right: -110px;
    margin-top: 10px;
    padding: 4px 30px;
    background-color: rgb(203,198,185);
    color: rgb(87,85,86);
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
                0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}
/*---contact form end---*/
.map-inform-our{
    width: 100%;
    color: white;
    font-style: normal;
    text-decoration: none;
}
.group-our-contact{
    padding: 50px 0 0 100px;
    line-height: 20px;
    font-family: sans-serif;
    font-size: 15px;
}
.inform-icon-location{
     display: flex;
}
.inform-icon-location i{
     margin-right: 20px;
}
.inform-icon-state{
     display: flex;
    margin-top: 10px;
}
.inform-icon-state i{
     margin-right: 15px;
}
.office-phone{
     display: flex;
    margin-top: 10px;
}
.office-phone i{
    margin-right: 15px;
}
.designer-phonecalls{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 250px;
}
.designer-phonecalls i{
     margin-right: 20px;
}
.mail-box{
     margin-top: 10px;
}
.mail-box i{
     margin-right: 15px;
}
/*---section five end---*/
/*---footer---*/
footer{
    width: 100%;
    height: auto;
    font-family: sans-serif;
    background-color:rgb(87,85,86);
}
#footer-inform-just-inform{
    display: flex;
    flex-direction: column;
    padding:100px 100px 0 100px;
}
.bottom-line{
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background-color: white;
    margin-top: 50px;
}
.column-inform-two{
    display: flex;
    flex-direction: row;
}
.footer-first-inform{
     width: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-first-inform img{
    width:70px;
    height:80px;
}
.text-footer{
     line-height:20px;
    color: white;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 100;
}
.footer-second-column{
     width: 30%;
    height: auto;
    margin-top: 120px;
    margin-left: 80px;
    color: white;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#location-footer{
    display: flex;
    flex-direction: row;
}
.mail-box-footer{
     margin-top: 10px;
    display: flex;
    flex-direction: row;
}
/*---footer end---*/
            
@media only screen and (max-width:1063px){
    /*--section one 1063---*/
    .mySlides img{
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }
    .prev, .next{
        margin-top: -150px;
    }
    .Tittle{
        margin-top: 50px;
        width: 35%;
        margin-left: 50px;
        font-size: 60px;
    }
    .main-picture{
        margin-left: -30px;
    }
    #main-pic-square img{
        margin-top: -340px;
    }
    /*--section one 1063 end---*/
    .section-two{
        padding-bottom: 50px;
    }
    .inside-infrom{
        align-items: flex-start;
    }
    .left-side-inform{
        width: 45%;
        padding-left: 20px;
    }
    #circle-square-two img{
        margin: -200px 0 0 -225px;
    }
    .right-side-inform{
        margin-top: 100px;
    }
    #big-tittle{
        width: 100%;
        font-size: 32px;
    }
    #small-tittle{
        font-size: 18px;
    }
    #section-three-text{
        padding: 3%;
    }
    .four-pic{
        justify-content: space-evenly;
    }
    .four-pic img{
        width: 300px;
        height: 300px;
    }
    /*--sect four 1063px---*/
    .four-main-tittle{
        margin: 50px 100px;
    }
    .gallery{
        padding: 0 100px;
    }
    .gallery-container{
        width: 85%;
        margin-top: 50px;
    }
    .gallery-item-1{
        right: -15%
    }
    .gallery-item-2{
        left: 30%;
    }
    .gallery-item-3{
        left: 55%;
    }
    .inside-inform-five{
        flex-direction: column;
        align-items: center;
    }
    .left-side-inform-map{
        width: 80%;
        margin-left: 0px;
    }
    .righr-side-inform-send{
        width: 80%;
        align-items: center;
        flex-direction: row-reverse;
        margin-top: 50px;
    }.contact-form{
        margin-top: 0px;
        margin-left: 50px;
    }
    .input-container{
        width: 350px;
    }
    .group-our-contact{
        padding: 0px;
    }
    #footer-inform-just-inform{
        padding: 30px 100px 0 100px;
    }
    .footer-first-inform {
        width: 45%;
    }
    .footer-second-column{
        width: 45%;
    }
}
@media only screen and (max-width: 768px){
             #menu-line{
                    display: none;
                }
                .right-menu-word{
                    display: none;
                }
                #center-Logo{
                    margin: 0 10px;
                }
                #left-menu{
                    display: none;
                }
                .mobile-menu{
                    display: block;
                }
                .toggler{
  /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
    z-index:2;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

.hamburger{
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    padding: 0.6rem;
  
  /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
  
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */

.hamburger > div{
    position: relative;
    top: 0;
    left: 0;
    background: rgb(87,85,86);
    height: 2px;
    width: 60%;
    transition: all  0.4s ease;
}

/* CREATING THE TOP AND BOTTOM LINES : 
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */

.hamburger > div::before,
.hamburger > div::after{
    content: '';
    position: absolute;
    top: -10px;
    background: rgb(87,85,86);
    width: 100%;
    height: 2px;
    transition: all  0.4s ease;
}

.hamburger > div::after{
    top: 10px;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

.toggler:checked + .hamburger > div{
    background: rgba(0,0,0,0);
}

.toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
    background: rgb(87,85,86);
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
    background: rgb(87,85,86);
}


/* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT : 

.menu{
    background: white;
    width: 0%;
    height: 100vh;
  
  /* APPLYING TRANSITION TO THE MENU :  
  
    transition: all 0.4s ease;
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  

.toggler:checked ~ .menu{
    width: 30%;
}

*/
/* STYLING THE LIST :  */

.menu >  div > ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    padding-left: 10px;
  
  /* HIDDEN INITIALLY  :  */
  
    visibility: hidden;
}

.menu > div > ul > li{
    list-style: none;
    padding: 5px;
    color: black;
}

.menu > div > ul > li > a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family:sans-serif;
}

/* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */

.toggler:checked ~ .menu > div > ul{
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
}

.toggler:checked ~ .menu > div > ul > li > a:hover{
    color: black;
}
.dropdown [data-toggle="dropdown"] {
  color: black;
}
                .dropdown > input[type="checkbox"] {
                    top: 70px;
                    width: 130px;
                    height: 30px;
                }
                .dropdown [data-toggle="dropdown"]:before {
                    top: 75px;
                    left: 128px;
                }
        /*---navbar 768px end---*/
        .section-one{
            overflow: hidden;
        }
        .details-section-one{
            padding: 190px 0 400px 0;
            flex-direction: column;
            overflow: hidden;
            align-items: center;
        }
        .slideshow-container{
            display: none;
        }
        .Tittle{
            margin-left:-15%;
            width: 60%
        }
        .main-picture{
            margin-left: 0;
            margin-top: -150px;
            width: 100%
        }
        .circle-square img{
            margin: -200px 0 0 300px;
        }
        #main-pic-square img{
            margin-top: -300px;
            margin-left: 40px;
            width: 90%;
            height: auto
        }
        /*---section one 768px end---*/
        /*---section two 768px---*/
        .section-two{
            margin: 0;
        }
        .inside-infrom{
            flex-direction: column;
            align-items: center;
        }
        .left-side-inform{
            width: 100%;
            padding:0;
        }
        #circle-square-two{
            display: none;
        }
        #left-side-pic-two{
            padding: 0;
        }
        #left-side-pic-two img{
            margin-top: 50px;
        }
        .right-side-inform{
            width: 100%;
            margin-top: 50px;
        }
        #big-tittle{
            width: 55%;
        }
        #small-tittle{
            width: 60%;
            text-align: left;
            margin-left: -200px;
        }
        .more-button{
            margin: -15% 0 0 60%;
        }
        /*---section two 768px end---*/
        /*---section three 768px---*/
        #section-three-main-tittle{
            margin-right: 0;
            margin-left: 50px;
            text-align: left;
        }
        .more-button-tw{
            margin-right: -60px;
        }
        /*---section three 768px end---*/
        /*---section four 768px---*/
    .gallery{
        display: none;
    }
        /*---section four 768px end---*/
        /*---section five 768px--*/
        .righr-side-inform-send{
            flex-direction: column-reverse;
            margin: 0;
            padding: 50px
        }
        .contact-form{
            margin-top: 35px;
            margin-left: 0;
            width: 100%;
        }
        .input-container{
            width: 100%;
        }
        .input{
            padding: 20px;
        }
    input, textarea{
        width: 100%;
    }
    .submit-btn{
        margin-right: 0;
    }
        /*---section five 768px end---*/
        /*---footer 768px---*/
        #footer-inform-just-inform{
            flex-direction: column;
            padding: 0 50px;
        }
        .bottom-line{
            margin-top: 0px
        }
        .column-inform-two{
            flex-direction: column;
        }
        .footer-first-inform{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .footer-first-inform img{
            width: 100px;
            height: 110px;
        }
        .footer-second-column{
            display: none;
        }
        /*---footer 768px end---*/
            }
@media only screen and (max-width:425px){
    /*---section one 425px---*/
    .Tittle{
        font-size: 55px;
        width: 70%;
        margin-top: 10px;
    }
    span{
        height: 350px;
    }
    .circle-square img{
        width: 350px;
        height: 350px;
        margin: -180px 0 0 70px;
    }
    #main-pic-square{
        margin-top: -150px;
    }
    #main-pic-square img{
        margin-top: -60px;
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    /*---section one 425px end---*/
    /*---section two 425px---*/
    .right-side-inform{
        margin-top: 20px;
    }
    #big-tittle{
        font-size: 25px; 
        width: 75%;
    }
    #small-tittle{
        margin-left: 0px;
        width: 90%;
    }
    .more-button{
        margin: 10% 40%;
    }
    /*---section two 425px end---*/
    /*---section four 425px---*/
    .four-main-tittle{
        margin: 100px 50px;
        font-size: 40px;
    }
     .gallery{
        padding: 0 50px;
    }
    /*---section four 425px end---*/
    /*---section five 425px---*/
    .main-tittile-five{
        margin-left: 50px;
    }
    .left-side-inform-map{
        width: 100%;
    }
    .infom-five{
        padding: 0 20px;
    }
    .righr-side-inform-send{
        width: 100%;
        padding: 20px;
    }
    /*---section five 425px end---*/
    /*---footer 425px---*/
    #footer-inform-just-inform{
        padding: 0 20px;
    }
    .bottom-line{
        margin-top: 50px;
        height: 1px;
    }
    /*---footer 425px end---*/
}